@tailwind base;
@tailwind components;
@tailwind utilities;

.panel {
  position: absolute;
  bottom: 0;
  left: 0;
}

.banner {
  position: absolute;
  top: 0;
  left: 7px;
  object-fit: cover;
  height: 575px;
}

.strength-icon {
  position: absolute;
  top: 0;
  left: 0;
}

.card-border {
  position: absolute;
  top: 0;
  left: 0;
  height: 575px;
}

.range-icon {
  position: absolute;
  top: 120px;
  left: 0;
}

.ability-icon {
  position: absolute;
  top: 220px;
  left: 0;
}

.strength {
  position: absolute;
  top: 18px;
  left: 52px;
  transform: translateX(-50%);
  text-align: center;
  color: black;
  font-family: "Calibri";
  font-size: 50px;
}

.name {
  position: absolute;
  top: 456px;
  left: 0;
  width: 100%;
  text-align: center;
  color: black;
  font-family: "Calibri";
  font-size: larger;
  font-weight: 600;
  text-shadow: 3px 1px 1px white;
}

.quote {
  position: absolute;
  top: 490px;
  left: 0;
  padding: 0 10px;
  width: 100%;
  text-align: center;
  color: black;
  font-family: "Calibri";
  font-style: italic;
  text-shadow: 3px 1px 1px white;
  line-height: normal;
}
